/* MIXIN CONTENEDOR TIPS */
/* CONTENEDOR CARDS */

@mixin contenedortips {
	border: 1px black solid;
	width: 22%;
	height: 600px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	padding-bottom: 40px;
	margin: 20px;

	h3 {
		font-family: $font-family_1;
		font-size: 40px;
		padding: 30px;
	}

	p {
		font-family: $font-family_1;
		font-size: 22px;
		padding: 40px;
	}

	&:hover {
		transform: scale(1.0)translateY(-10px);
	}

}

.cajaprincipaltips {
	border: 1px black solid;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	height: 600px;
	margin-top: 50px;
	margin-left: 80px;
	margin-bottom: 250px;
}

.textocajaprinc {
	h2 {
		font-family: $font-family_1;
		font-size: 62px;
		text-align: left;
		padding: 90px 60px 40px 90px;
		color: $color_1;
	}

	p {
		width: 70%;
		font-family: $font-family_1;
		font-size: 25px;
		padding-left: 200px;
	}
}

.casarustica {
	position: relative;
	z-index: 1;
	margin-top: -40px;
}

.cajagrandetips {
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 800px;
}

.contenedortipsuno {
	@include contenedortips;
}

.contenedortipsdos {
	@include contenedortips;
}

.contenedortipstres {
	@include contenedortips;
}

.imagenmas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}