/* FUENTES */

@font-face {
    font-family: Europa Grotesk SH !important;
    src: url(../fuentes/EuropaGroteskSH-XLig.otf);
}

@font-face {
    font-family: Europa Grotesk !important;
    src: url(../fuentes/EuropaGroteskSH-Reg.otf);
}