/* MEDIA QUERYS */

@media (max-width: 1280px) {
    .container {
        h1 {
            font-size: 75px;
        }
    }

    .imagenportada {
        height: 70vh;
    }

    .contenedorcasa {
        width: 33%;
        height: 600px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .contenedorubicacion {
        width: 33%;
        height: 600px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .contenedorbusqueda {
        width: 33%;
        height: 600px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .textorecomendado {
        h2 {
            font-size: 50px;
            text-align: right;
        }

        p {
            padding: 0%;
            text-align: right;
        }
    }

    .presentacion {

        height: 600px;
        display: inline-block;

        h2 {
            padding-top: 0px;
            font-size: 40px;
        }

        p {
            font-family: $font-family_1;
            width: 85%;
            display: inline-block;
        }
    }


    .textocajaprinc {
        h2 {
            font-size: 40px;
            padding: 70px;
        }

        p {
            font-size: 20px;
        }
    }

    .casarustica {
        margin-top: -20px;
    }

    .contenedortipsuno h3 {
        font-size: 30px;
        padding: 20px;
    }

    .contenedortipsuno {
        width: 33%;
        height: 800px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .contenedortipsdos h3 {
        font-size: 28px;
        padding: 20px;
    }

    .contenedortipsdos {
        width: 33%;
        height: 800px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .contenedortipstres h3 {
        font-size: 30px;
        padding: 20px;
    }

    .contenedortipstres {
        width: 33%;
        height: 800px;
        font-size: 1px;
        padding-bottom: 10px;
    }

    .imagenmas {
        height: 100px;
    }

    .marco {
        width: 80vw;
        flex-direction: column;
        align-content: center;
        margin-bottom: 80px;
        height: 600px;

        .imagenprop {
            height: 1400px;

        }

        .textopropuno {
            color: $color_1;
            margin: auto;
            display: inline-block;
            width: 80%;
            height: 300px;

            h4 {
                margin-top: 20px;
                font-size: 25px;

            }

            p {

                font-size: 15px;

            }

        }

        .cajaiconos {
            flex-direction: row;
            justify-content: center;
            border-left: 0;
            border-top: 1px black solid;
            padding-top: 20px;
            padding-left: 0;

        }


        .iconouno {
            margin-right: 20px;
            margin-left: 20px;
            height: 25px;


        }


        .iconodos {
            margin-right: 20px;
            margin-left: 20px;
            height: 25px;

        }

        .iconotres {
            margin-right: 20px;
            margin-left: 20px;
            height: 25px;

        }


        .imagencasa {
            margin-left: 260px;
            height: 400px;


        }

        .imagencasados {
            margin-left: 200px;
            width: 500px;

        }

    }


}

@media (max-width: 1024px) {

    .container {
        h1 {
            font-size: 80px;
            width: 40%;
        }
    }

    .cajagrande {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .contenedorcasa {
        width: 90%;
        height: 400px;
        font-size: 15px;
    }

    .contenedorubicacion {
        width: 90%;
        height: 400px;
        font-size: 15px;
    }

    .contenedorbusqueda {
        width: 90%;
        height: 400px;
        font-size: 15px;
        padding: 20px;
    }

    .cajarecomendado {
        width: 90%;
        height: 450px;
    }

    .mesahome {
        display: none;
    }

    .textorecomendado {
        h2 {
            font-size: 30px;
            text-align: right;
            margin: 10px;
            padding-left: 20px;
        }

        p {

            height: 100px;
            padding-left: 80px;
        }
    }

    .cajafooter {
        display: grid;
        grid-template-areas: "logofooter footercontacto" "footernav footermail" "legales legales";
    }

    .logofooter {
        width: 180px;
        padding-top: 30px;
    }

    .footernav {
        a {
            font-size: 25px;
            padding-left: 50px;
        }
    }

    .iconos {
        height: 70px;
    }

    .botonWhatsApp {
        img {
            display: none;
        }
    }

    .cajapresentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 60%;
        padding-left: 20px;
        padding-bottom: 60px;
        column-gap: 10px;
    }

    .presentacion {
        width: 60%;
        height: 400px;
        display: inline-block;


        h2 {
            font-size: 30px;
            padding-top: 40px;
            padding-right: 20px;
        }

        p {
            font-size: 18px;
            margin-inline: 10px;
            height: 200px;
            width: 600px;
        }
    }

    .imagenca {
        height: 350px;
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .cajaprincipaltips {
        width: 90vw;
        height: 350px;
        margin-left: 40px;
        margin-bottom: 80px;
    }

    .textocajaprinc {
        h2 {
            font-size: 40px;
            padding: 40px 10px 40px 40px;
            margin: 0;

        }

        p {
            font-size: 20px;
            padding-left: 50px;
            margin: 0;
        }
    }

    .casarustica {
        height: 380px;
        margin-top: -10px;
    }


    .cajagrandetips {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        height: 1500px;

        .contenedortipsuno {
            width: 90%;
            height: 450px;
            font-size: 15px;
        }

        .contenedortipsuno h3 {
            font-size: 30px;
            padding: 10px;
        }

        .contenedortipsdos {
            width: 90%;
            height: 450px;
            font-size: 15px;
        }

        .contenedortipsdos h3 {
            font-size: 25px;
            padding: 20px;
        }

        .contenedortipstres {
            width: 90%;
            height: 450px;
            font-size: 15px;
            padding: 20px;
        }

        .contenedortipstres h3 {
            font-size: 30px;
            padding: 10px;
        }

    }

    #contacto {
        flex-direction: column;
        border: none;
    }

    .imagencaricatura {
        display: none;
    }

    .campo {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    #contacto form {
        width: 90vw;
    }

    .marco {
        width: 80vw;
        flex-direction: column;
        align-content: center;
        margin-bottom: 80px;
        height: 600px;

        .imagenprop {
            height: 1400px;

        }

        .textopropuno {
            color: $color_1;
            margin: auto;
            display: inline-block;
            width: 80%;
            height: 300px;

            h4 {
                margin-top: 20px;
                font-size: 25px;

            }

            p {

                font-size: 15px;

            }

        }

        .cajaiconos {
            flex-direction: row;
            justify-content: center;
            border-left: 0;
            border-top: 1px black solid;
            padding-top: 20px;
            padding-left: 0;

        }


        .iconouno {
            margin-right: 20px;
            margin-left: 20px;
            height: 25px;


        }


        .iconodos {
            margin-right: 20px;
            margin-left: 20px;
            height: 25px;

        }

        .iconotres {
            margin-right: 20px;
            margin-left: 20px;
            height: 25px;

        }


        .imagencasa {
            margin-left: 180px;



        }

        .imagencasados {
            margin-left: 50px;
            width: 70%;

        }

    }


}


@media (max-width: 1020px) and (min-width: 300px) {
    .logo {
        height: 35px;
    }

    .container {
        h1 {
            font-size: 35px;
        }
    }

    .imagenportada {
        height: 50vh;
    }

    .contenedorcasa {
        height: 200px;
        font-size: 10px;

        h3 {
            font-size: 22px;
        }

        p {
            display: none;
        }
    }

    .contenedorubicacion {
        height: 200px;
        font-size: 10px;

        h3 {
            font-size: 22px;
        }

        p {
            display: none;
        }
    }

    .contenedorbusqueda {
        height: 200px;
        font-size: 20px;

        h3 {
            font-size: 22px;
        }

        p {
            display: none;
        }
    }

    .iconoscards {
        height: 40px;
    }

    .cajarecomendado {
        height: 450px;
    }

    .textorecomendado {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .cajafooter {
        padding-top: 40px;
        display: grid;
        grid-template-areas: "logofooter footercontacto" "legales legales";
    }

    .logofooter {
        width: 100px;
    }

    .iconos {
        height: 40px;
    }

    .footernav {
        li {
            display: none;
        }
    }

    .footercontacto {
        grid-area: footercontacto;
        margin: 10px;
    }

    .footermail {
        display: none;
    }

    .cajapresentacion {
        width: 350px;
        height: 900px;
        column-gap: 10px;
    }

    .presentacion {
        width: 60%;


        h2 {
            font-size: 25px;
            padding: 0;
        }

        p {
            font-size: 15px;
            height: 300px;
            width: 300px;
        }
    }

    .imagencaro {
        width: 50%;
        margin-bottom: 50px;
    }

    .cajaprincipaltips {
        width: 80vw;
        height: 200px;
        margin-left: 40px;
    }

    .textocajaprinc {
        h2 {
            font-size: 20px;
            padding: 20px 10px 20px 40px;
            margin: 0;

        }

        p {
            font-size: 10px;
        }
    }

    .casarustica {
        height: 230px;
        margin-top: -10;
    }

    .contenedortipsuno p {
        font-size: 13px;
    }

    .contenedortipsdos p {
        font-size: 13px;
    }

    .contenedortipstres p {
        font-size: 13px;
    }

    h2 {
        font-size: 30px;
    }


    .marco {
        height: 480px;

        .imagencasa {
            margin-left: 0px;
            height: 60%;
            padding-left: 70px;

        }

        .imagencasados {
            margin-left: 0px;
            width: 65%;
            padding-left: 50px;


        }

    }


}