/* MEDIA QUERYS */

@media (max-width: 1280px) {
    .container {
        h1 {
            font-size: 75px;
        }
    }

    .imagenportada {
        height: 70vh;
    }

    .contenedorcasa {
        width: 33%;
        height: 600px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .contenedorubicacion {
        width: 33%;
        height: 600px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .contenedorbusqueda {
        width: 33%;
        height: 600px;
        font-size: 20px;
        padding-bottom: 30px;
    }

    .textorecomendado {
        h2 {
            font-size: 50px;
            text-align: right;
        }

        p {
            padding: 0%;
            text-align: right;
        }
    }

    .presentacion {
        width: 60%;
        height: 400px;
        display: inline-block;

        h2 {
            padding-top: 0px;
            font-size: 40px;
        }

        p {
            font-family: $font-family_1;
            font-size: 20px;
            display: inline-block;
        }
    }


   
        h2 {
            font-size: 40px;
            padding: 70px;
        }

        p {
            font-size: 20px;
            padding-left: 180px;
        }
    
}


@media (max-width: 1024px) {
    .container {
        h1 {
            font-size: 80px;
            width: 40%;
        }
    }

    .cajagrande {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .contenedorcasa {
        width: 90%;
        height: 400px;
        font-size: 15px;
    }

    .contenedorubicacion {
        width: 90%;
        height: 400px;
        font-size: 15px;
    }

    .contenedorbusqueda {
        width: 90%;
        height: 400px;
        font-size: 15px;
        padding: 20px;
    }

    .cajarecomendado {
        width: 90%;
        height: 450px;
    }

    .mesahome {
        display: none;
    }

    .textorecomendado {
        h2 {
            font-size: 35px;
            text-align: right;
            margin: 10px;
            padding-left: 20px;
        }

        p {
            font-size: 25px;
            height: 100px;
            padding-left: 80px;
        }
    }

    .cajafooter {
        display: grid;
        grid-template-areas: "logofooter footercontacto" "footernav footermail" "legales legales";
    }

    .logofooter {
        width: 180px;
        padding-top: 30px;
    }

    .footernav {
        a {
            font-size: 25px;
            padding-left: 50px;
        }
    }

    .iconos {
        height: 70px;
    }

    .botonWhatsApp {
        img {
            display: none;
        }
    }

    .cajapresentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 800px;
        width: 70%;
        padding-left: 20px;
        padding-bottom: 60px;
        column-gap: 10px;
    }

    .presentacion {
        width: 50%;
        height: 400px;
        display: inline-block;

        h2 {
            font-size: 30px;
            padding-top: 40px;
            padding-right: 20px;
        }

        p {
            font-size: 18px;
            margin-inline: 10px;
            height: 200px;
            width: 500px;
        }
    }

    .imagenca {
        height: 350px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .textocajaprinc {
        h2 {
            font-size: 50px;
            padding: 60px;

        }

        p {
            font-size: 20px;
            padding-left: 150px;
        }
    }

}

@media (max-width: 812px) {
    .logo {
        height: 35px;
    }

    .container {
        h1 {
            font-size: 35px;
        }
    }

    .imagenportada {
        height: 50vh;
    }

    .contenedorcasa {
        height: 200px;
        font-size: 10px;

        h3 {
            font-size: 22px;
        }

        p {
            display: none;
        }
    }

    .contenedorubicacion {
        height: 200px;
        font-size: 10px;

        h3 {
            font-size: 22px;
        }

        p {
            display: none;
        }
    }

    .contenedorbusqueda {
        height: 200px;
        font-size: 20px;

        h3 {
            font-size: 22px;
        }

        p {
            display: none;
        }
    }

    .iconoscards {
        height: 40px;
    }

    .cajarecomendado {
        height: 450px;
    }

    .textorecomendado {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .cajafooter {
        padding-top: 40px;
        display: grid;
        grid-template-areas: "logofooter footercontacto" "legales legales";
    }

    .logofooter {
        width: 100px;
    }

    .iconos {
        height: 40px;
    }

    .footernav {
        li {
            display: none;
        }
    }

    .footercontacto {
        grid-area: footercontacto;
        margin: 10px;
    }

    .footermail {
        display: none;
    }

    .cajapresentacion {
        width: 350px;
        height: 900px;
        column-gap: 10px;
    }

    .presentacion {
        width: 60%;

        h2 {
            font-size: 25px;
            padding-top: 0;
        }

        p {
            font-size: 15px;
            height: 300px;
            width: 300px;
        }
    }

    .imagencaro {
        width: 50%;
        margin-bottom: 50px;
    }
}