/* PRESENTACION */

.cajapresentacion {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    height: 900px;
    padding-top: 40px;
    gap: 100px;


    .presentacion {
        width: 50%;
        margin-bottom: 50px;

        h2 {
            font-family: $font-family_1;
            font-size: 60px;
            padding-top: 30px;
            padding-left: 50px;
            display: inline-block;
        }

        p {
            font-family: $font-family_1;
            font-size: 22px;
            display: inline-block;
        }
    }

    .imagenca {
        height: 80%;

    }

}